/*
Cameron Brien
9/19/2019
This is the css file that styles the content stored in he sample.fxml file.
 */
#label {
    -fx-font-weight: bold;
}

#button:hover {
    -fx-background-color: linear-gradient(#0474bf, #0098ff);
}

#button {
    -fx-background-color: linear-gradient(#0098ff, #42b3ff);
    -fx-text-fill: white;
    -fx-font-weight: bold;
}